container-fluid
    .row
        h1 {{siteText.data.curriculum.experience}}
        |       
        .col-md-6
          ul
            li(ng-repeat='exp in experience')
              | {{exp.company}}
              ul
                li {{exp.date.begin}}
                |                 
                li {{exp.date.end}}
                |                 
                li {{exp.location}}
                |                 
                li {{exp.info}}
                |                 
                li {{exp.role}}
        |       
        h1 {{siteText.data.curriculum.education}}
        |       
        .col-md-6
          ul
            li(ng-repeat='edu in education')
              | {{edu.location}}
              ul
                li {{edu.score}}
                |               
                li {{edu.degree}}
                |               
                li {{edu.date.begin}}
                |               
                li {{edu.date.end}}
    |   
    .container-fluid
      .row
        h1 {{siteText.data.curriculum.skills}}
        |       
        ul
          li(ng-repeat='skill in skills')
            | {{skill.name}}
            ul(ng-repeat='item in skill.items')
              li {{item.name}}
              |             
              li {{item.point}}