div
  h1 {{siteText.data.projects.title}}
  .row(ng-repeat='cat in projects')
    h4.col-sm-12(ng-bind='cat.name')
    .col-sm-6(ng-repeat='p in cat.items')
      a(href='{{ p.link }}')
        h5(ng-bind='p.name')
      p(ng-bind='p.info')
