extends layout

block body
  .container.main
    .main-menu
      ul.nav.nav-tabs
        li(role='presentation', ng-class="{ active: isActive('/') }")
          a(href='.') Home
        li(role='presentation', ng-class="{ active: isActive('/curriculum') }")
          a(href='/ita/curriculum') Curriculum
        li(role='presentation', ng-class="{ active: isActive('/project') }")
          a(href='/ita/projects') Progetti
        li(role='presentation', ng-class="{ active: isActive('/contact') }")
          a(href='contact') Contatti
    .main-content

      div(ng-view)
